<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @stock.parent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Additional text:</strong>
  <%= @stock.additional_text %>
</p>

<p>
  <strong>Normal price:</strong>
  <%= @stock.normal_price %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @stock.store_name %>
</p>

<p>
  <strong>Product group:</strong>
  <%= @stock.product_group_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stock.status %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @stock.brand_id %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @stock.packaging %>
</p>

<p>
  <strong>Units of item:</strong>
  <%= @stock.units_of_item %>
</p>

<p>
  <strong>Size:</strong>
  <%= @stock.size %>
</p>

<p>
  <strong>Halal status:</strong>
  <%= @stock.halal_status %>
</p>

<p>
  <strong>Halal certification issuer:</strong>
  <%= @stock.halal_certification_issuer %>
</p>

<p>
  <strong>Preservatives status:</strong>
  <%= @stock.preservatives_status %>
</p>

<p>
  <strong>Artificial coloring status:</strong>
  <%= @stock.artificial_coloring_status %>
</p>

<p>
  <strong>Artificial flavoring status:</strong>
  <%= @stock.artificial_flavoring_status %>
</p>

<p>
  <strong>Food conditioner status:</strong>
  <%= @stock.food_conditioner_status %>
</p>

<p>
  <strong>Artifical sweetener status:</strong>
  <%= @stock.artifical_sweetener_status %>
</p>

<p>
  <strong>Returnable:</strong>
  <%= @stock.returnable %>
</p>

<p>
  <strong>Product note:</strong>
  <%= @stock.product_note %>
</p>

<p>
  <strong>Internal note:</strong>
  <%= @stock.internal_note %>
</p>

<p>
  <strong>Product price group:</strong>
  <%= @stock.product_price_group %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @stock.creator %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @stock.picture %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
