<%= flash[:notice] %>

<h1 style="text-align: center">Login</h1>

<%= form_for :admin_login, url: homes_login_attempt_path do |f| %>

<p style="text-align: center">
<%= f.label :email%> <br>
<%= f.email_field :email %>
</p>

<p style="text-align: center">
<%= f.label :password %> <br>
<%= f.password_field :password %>
</p>

<p style="text-align: center">
  <%= f.submit "Sign in", class: "button" %>
</p>

<% end %>

<div style="text-align: center">
<%= link_to 'Sign up', "admins/new" %>
<%= link_to 'User', "" %>
</div>
