{{outlet}}
{{#link-to 'cart' class="small button" id="cart"}} Cart {{/link-to}}

<div class="form">
<br>
 <p> {{input value=search placeholder="Search grocery"}} </p>
</div>

<div class="table">
<br><br>
<h4>Listing stocks</h4>
<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Product Name</th>
      <th>Additional</th>
      <th>Group</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  
  <tbody>
 {{#each model}}
    <tr>
        <td>{{store_name}} </td>
        <td>{{#link-to 'stock' this}} {{name}} {{/link-to}}</td>
        <td> {{additional_text}} </td>
        <td> {{product_group_id}} </td>
        <td> {{normal_price}} </td>
        <td><table>
            <tr><th> {{units_of_item}} </th></tr>
            <tr><td><button class="tiny button" {{action "addToCart" this}}>+</button></td>
                <td><button class="tiny button" {{action "removeFromCart" this}}>-</button></td></tr>
        </table></td>
    </tr>
 {{/each}}
  </tbody>
</table>
</div>

<br>