<div class="form" >
<form {{action updateStock on="submit"}}>

 <p> Name {{input value=name }} </p>
 <p> Parent Id {{input value=parent_id}} </p>
 <p> Halal status {{input value=halal_status}} </p>
 <p> Picture {{input value=picture}} </p>
 <p> Halal certification issuer {{input value=halal_certification_issuer}} </p>
 <p> Creator {{input value=creator}} </p>
 <p> Additional text {{input value=additional_text}} </p>
 <p> Preservatives status {{input value=preservatives_status}} </p>
 <p> Product note {{input value=product_note}} </p>
 <p> Normal price {{input value=normal_price}} </p>
 <p> Artificial coloring status {{input value=artificial_coloring_status}} </p>
 <p> Product price group {{input value=product_price_group}} </p>
 <p> Store name {{input value=store_name}} </p>
 <p> Artificial flavoring status {{input value=artificial_flavoring_status}} </p>
 <p> Size {{input value=size}} </p>
 <p> Product group {{input value=product_group}} </p>
 <p> Food conditioner status {{input value=food_conditioner_status}} </p>
 <p> Units of item {{input value=units_of_item}} </p>
 <p> Status {{input value=status}} </p>
 <p> Artifical sweetener status {{input value=artifical_sweetener_status}} </p>
 <p> Internal note {{input value=internal_note}} </p>
 <p> Brand {{input value=brand}} </p>
 <p> Returnable {{input value=returnable}} </p>
 <p> Packaging {{input value=packaging}} </p>

 <p><input type="submit" value="Update Stock" class="button" /> </p>
</form>
</div>